
html {
    font-size: 37.5px;/* 网易严选的页面这一项的值会随页面大小改变，目前37.5px为iPhone X的大小 */
}
/* 内容页面 */
.content {
    margin-top: 2rem;
    margin-bottom: 1.30667rem;
    background-color: #eeeeee;
    /* height: 2000px; */
}
/* 滚动图 */
.content > .rollimg{
    height: 3.94667rem;
}
.content > .rollimg > i{
    display: inline-block;
    height: 100%;
    width: 100%;
    background: url('../images/ad.jpg') no-repeat center center;
    background-size: cover;
}
/* 描述 */
.content > .desc{
    width: 100%;
    height: .96rem;
    padding: 0 .4rem;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.content > .desc > div{
    flex-grow: 1;
    height: .42667rem;
}
.content > .desc > div > i{
    display: inline-block;
    width: .42667rem;
    height: .42667rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.content > .desc > div:first-child > i{
    background-image: url('../images/desc-1.png');
}
.content > .desc > div:nth-child(2) > i{
    background-image: url('../images/desc-2.png');
}
.content > .desc > div:last-child > i{
    background-image: url('../images/desc-3.png');
}
.content > .desc > div > span{
    /* vertical-align: super; */
    font-size: .32rem;
    color: #333;
    margin-left: .10667rem;
    line-height: .42667rem;
    display: inline-block;
    vertical-align: middle;
}
/* 分类 */
.content > .classes{
    padding-bottom: .42667rem;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}
/* .content > .classes > div{
    width: 1.46667rem;
    height: 2.08rem;
    margin: .13333rem .26667rem 0;
    margin-bottom: .12rem;
    flex-basis: 1.46667rem;
    text-align: center;
} *//* 当html的font-size可以随网页大小变化再用 */
.content > .classes > div{
    width: 18%;
    height: 2.08rem;
    min-height: 69px;
    margin: .13333rem 1% 0;
    margin-bottom: .12rem;
    flex-basis: 18%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.content > .classes > div:nth-child(n+6){
    margin-bottom: 0;
}
.content > .classes > div > i{
    display: inline-table;
    margin-left: auto;
    margin-right: auto;
    width: 1.46667rem;
    height: 1.46667rem;
    background-size: 100% 100%;
}
.content > .classes > div:nth-child(1) > i{
    background-image: url('../images/classes-1.png');
}
.content > .classes > div:nth-child(2) > i{
    background-image: url('../images/classes-2.png');
}
.content > .classes > div:nth-child(3) > i{
    background-image: url('../images/classes-3.png');
}
.content > .classes > div:nth-child(4) > i{
    background-image: url('../images/classes-4.png');
}
.content > .classes > div:nth-child(5) > i{
    background-image: url('../images/classes-5.png');
}
.content > .classes > div:nth-child(6) > i{
    background-image: url('../images/classes-6.png');
}
.content > .classes > div:nth-child(7) > i{
    background-image: url('../images/classes-7.png');
}
.content > .classes > div:nth-child(8) > i{
    background-image: url('../images/classes-8.png');
}
.content > .classes > div:nth-child(9) > i{
    background-image: url('../images/classes-9.png');
}
.content > .classes > div:nth-child(10) > i{
    background-image: url('../images/classes-10.gif');
}
/* 新人优惠 */
.newuser > div:first-child{
    height: 3.2rem;
    background-image: url('../images/newuser.gif');
    background-size: 100% 100%;
    position: relative;
}
.newuser > div:first-child > i{
    position: absolute;
    top: 14%;
    left: 10%;
    display: inline-table;
    /*width: 2.24rem;*/
    width: 24%;
    height: 2.24rem;
    background-image: url('../images/newuser-1.png');
    background-size: 100% 100%;
}
.newuser > div:last-child{
    height: 2.48rem;
    margin: .26667rem;
}
.newuser > div:last-child > i{
    display: inline-block;
    /*width: 4.68rem;*/
    width: 49%;
    height: 100%;
    background-size: 100% 100%;
}
.newuser > div:last-child > i:first-child{
    background-image: url('../images/newuser-left.png');
}
.newuser > div:last-child > i:last-child{
    background-image: url('../images/newuser-right.png');
}
/* 新人专享礼 */
.gift{
    background-color: #fff;
    margin-bottom: .26667rem;
    margin-top: .53334rem;
    padding-bottom: .4rem;
}
.gift > div:first-child{
    height: 1.2rem;
    width: 100%;
    line-height: 1.2rem;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: .42667rem;
}
.gift > div:last-child{
    height: 5.78667rem;
}
.gift > div:last-child > div:first-child{
    height: 5.78667rem;
    /*width: 4.57333rem;*/
    width: 45.7333%;
    min-width: 129px;
    /* margin-left: .4rem; */
    /*margin-right: .05333rem;*/
    margin-left: 4%;
    margin-right: 0.5333%;
    background: #F9E9CF;
    border-radius: .05333rem;
    text-align: center;
    float: left;
}
.gift > div:last-child > div:first-child > div:first-child{
    font-family: PingFangSC-Medium;
    font-size: .42667rem;
    padding: .4rem 0 0 .4rem;
    text-align: left;
}
.gift > div:last-child > div:first-child > i:last-child > i{
    display: inline-block;
    position: absolute;
    width: .4rem;
    height: .26667rem;
    bottom: .24rem;
    right: .86667rem;
    background-image: url('../images/gift-left.png');
    background-size: 100% 100%;
}
.gift > div:last-child > div:first-child > i:last-child{
    display: inline-block;
    margin: .49333rem auto;
    width: 3.44rem;
    height: 3.42667rem;
    background-image: url('../images/gift-1.png');
    background-size: 100% 100%;
    position: relative;
}
.gift > div:last-child > div:last-child > div{
    background: #FBE2D3;
    border-radius: 4px;
    /*width: 4.57333rem;*/
    width: 45.7333%;
    height: 2.86667rem;
    margin-bottom: .05333rem;
    /*margin-left: 5.02666rem;*/
    /* margin-right: .4rem; */
    margin-right: 4%;
    position: relative;
    float: right;
}
.gift > div:last-child > div:last-child > div:last-child{
    margin-bottom: 0;
    background: #FFECC2;
}
.gift > div:last-child > div:last-child > div > div:first-child{
    font-family: PingFangSC-Medium;
    font-size: .42667rem;
    padding: .26667rem 0 0 .4rem;
}
.gift > div:last-child > div:last-child > div > div:nth-child(2){
    position: absolute;
    z-index: 2;
    top: .2rem;
    right: .4rem;
    width: 1.06667rem;
    height: 1.06667rem;
    opacity: .8;
    background: #F59524;
    border-radius: 50%;
    padding-top: .13333rem;
    color: #fff;
    text-align: center;
}
.gift > div:last-child > div:last-child > div > div:nth-child(2) > div:first-child{
    font-size: .32rem;
}
.gift > div:last-child > div:last-child > div > div:nth-child(2) > div:last-child{
    font-size: .26667rem;
    margin-top: -.09333rem;
    text-decoration: line-through;
}
.gift > div:last-child > div:last-child > div > i{
    display: inline-block;
    width: 2.66667rem;
    height: 2.66667rem;
    position: absolute;
    right: 0;
    top: .2rem;
    background-size: 100% 100%;
}
.gift > div:last-child > div:last-child > div:first-child > i{
    background-image: url('../images/gift-2.png');
}
.gift > div:last-child > div:last-child > div:last-child > i{
    background-image: url('../images/gift-3.png');
}
/* 类目热销榜 */
.popularclass{
    background-color: #fff;
    margin-bottom: .26667rem;
    padding-bottom: .26667rem;
}
.popularclass > div:first-child{
    width: 100%;
    height: 1.33333rem;
    line-height: 1.33333rem;
    padding: 0 .4rem;
    background: #fff;
    overflow: hidden;
}
.popularclass > div:first-child > p{
    font-size: .42667rem;
    font-family: PingFangSC-Regular;
    line-height: 1.33333rem;
}
.popularclass > div > ul::after{
    content:"";
    display: block;
    clear: both;
}
.popularclass > div:nth-child(2) > ul > li{
    width: 45.3333%;
    height: 2.66667rem;
    float: left;
    border-radius: .05333rem;
    margin: 0 1.3333% .13333rem 0;
}
.popularclass > div:nth-child(2) > ul > li:first-child{
    background: #F9F3E4;
    margin-left: 4%;
}
.popularclass > div:nth-child(2) > ul > li:last-child{
    background: #EBEFF6;
    margin-right: 4%;
}
.popularclass > div:nth-child(2) > ul > li > div:first-child{
    float: left;
    padding-left: .32rem;
    margin-top: .88rem;
    color: #333;
    font-family: PingFangSC-Medium;
    font-size: .37333rem;
    position: relative;
}
.popularclass > div:nth-child(2) > ul > li > div:first-child::before{
    content: '';
    position: absolute;
    left: .32rem;
    bottom: -.21333rem;
    width: .64rem;
    height: .05333rem;
    background: #333;
}
.popularclass > div:nth-child(2) > ul > li > div:last-child{
    width: 2.66667rem;
    height: 2.66667rem;
    float: right;
}
.popularclass > div:nth-child(2) > ul > li > div:last-child > img{
    width: 2.66667rem;
}
.popularclass > div:nth-child(3) > ul > li{
    width: 22%;
    height: 2.4rem;
    background: #F5F5F5;
    border-radius: .05333rem;
    float: left;
    margin: 0 1.3333% .13333rem 0;
}
.popularclass > div:nth-child(3) > ul > li:nth-child(4n+1){
    margin-left: 4%;
}
.popularclass > div:nth-child(3) > ul > li:nth-child(4n){
    margin-right: 4%;
}
.popularclass > div:nth-child(3) > ul > li > div:first-child{
    margin-top: .13333rem;
    text-align: center;
    font-size: .32rem;
    color: #333;
    font-family: PingFangSC-Medium;
}
.popularclass > div:nth-child(3) > ul > li > div:last-child{
    width: 1.6rem;
    height: 1.6rem;
    margin: .02667rem auto 0 auto;
}
.popularclass > div:nth-child(3) > ul > li > div:last-child > img{
    width: 1.6rem;
}
/* 人气推荐 */
.popular{
    background-color: #fff;
    margin-bottom: .26667rem;
    padding-bottom: .4rem;
}
.popular > div:first-child{
    width: 100%;
    height: 1.33333rem;
    line-height: 1.33333rem;
    padding: 0 .4rem;
    font-size: .42667rem;
    font-family: PingFangSC-Regular;
}
.popular > div:nth-child(2){
    width: 92%;
    height: 3.73333rem;
    align-items: center;
    background: #FEF0DF;
    border-radius: .05333rem;
    margin: 0 4% .26667rem;
    display: flex;
    align-items: center;
}
.popular > div:nth-child(2) > div:first-child{
    width: 40.57971%;
    height: 3.73333rem;
    margin-right: .4rem;
    float: left;
    background-image: url('../images/popular-1-back.png');
    background-size: 100% 100%;
}
.popular > div:nth-child(2) > div:first-child > img{
    height: 100%;
}
.popular > div:nth-child(2) > div:last-child{
    width: 50.72464%;
    float: left;
    margin: auto 0;
}
.popular > div:nth-child(2) > div:last-child > div:first-child{
    font-family: PingFangSC-Regular;
    font-size: .37333rem;
    width: 4.66667rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.popular > div:nth-child(2) > div:last-child > div:nth-child(2){
    font-size: .32rem;
    color: #7F7F7F;
    width: 4.66667rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.popular > div:nth-child(2) > div:last-child > div:nth-child(3){
    font-size: .37333rem;
    color: #DD1A21;
}
.popular > div:nth-child(3) > ul::after{
    content:"";
    display: block;
    clear: both;
}
.popular > div:nth-child(3) > ul > li{
    margin-left: 2.6667%;
    width: 28.802%;
    float: left;
}
.popular > div:nth-child(3) > ul > li:first-child{
    margin-left: 4%;
}
.popular > div:nth-child(3) > ul > li > div:first-child{
    background-color: #f5f5f5;
    border-radius: .05333rem;
    width: 100%;
    height: 2.88rem;
}
.popular > div:nth-child(3) > ul > li > div:first-child > img{
    height: 100%;
}
.popular > div:nth-child(3) > ul > li > div:nth-child(2) > div:first-child{
    margin-top: 7px;
}
.popular > div:nth-child(3) > ul > li > div:nth-child(2) > div:last-child{
    font-size: .42667rem;
    line-height: .64rem;
    color: #DD1A21;
}
.popular > div:nth-child(3) > ul > li > span{
    margin-bottom: .06667rem;
    display: inline-block;
    height: .4rem;
    padding: 0 .10667rem;
    line-height: .4rem;
    color: #DD1A21;
    background: rgba(255,255,255,.9);
    border: 1px solid #DD1A21;
    border-radius: .2rem;
    font-size: .24rem;
    margin-bottom: 7px;
}
/* 内容页底部 */
.end{
    border-top: 1px solid rgba(0,0,0,.15);
    background-color: #414141;
    text-align: center;
    padding: .72rem .26667rem .37333rem;
}
.end > div:first-child{
    margin-bottom: .48rem;
    display: flex;
    justify-content: center;
}
.end > div:first-child::after{
    content:"";
    display: block;
    clear: both;
}
.end > div:first-child > div{
    width: 2.29333rem;
    font-size: .32rem;
    color: #fff;
    border-radius: 2px;
    height: .82667rem;
    line-height: .82667rem;
    border: 1px solid #999;
    /* float: left; */
}
.end > div:first-child > div:first-child{
    margin-right: .66667rem;
}
.end > div:last-child > div{
    font-size: .32rem;
    line-height: .42667rem;
    color: #999;
}
/* /内容页面 */

/* 底部导航 */
.footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 1.30667rem;
    background-color: #ffffff;
    border-top: 1px solid #efefef;
}

.footer>ul {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    line-height: 0.9;
}

.footer>ul>li {
    text-align: center;
}

.footer > ul > li > span:first-child{
    background-image: url('../images/footer.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: .53333rem;
    height: .53333rem;
    background-size: .53333rem 6.53333rem;
}

.footer > ul > li:first-child > span:first-child{
    background-position: 0 -2.66667rem;
}
.footer > ul > li:nth-child(2) > span:first-child{
    background-position: 0 -2rem;
}
.footer > ul > li:nth-child(3) > span:first-child{
    background-position: 0 -4.66667rem;
}
.footer > ul > li:nth-child(4) > span:first-child{
    background-position: 0 -.66667rem;
}
.footer > ul > li:last-child > span:first-child{
    background-position: 0 -6rem;
}

.footer>ul>li.current > span:last-child{
    color: #DD1A21
}

.footer > ul > li > span:last-child {
    display: block;
    margin-top: .09333rem;
    font-size: .32rem;
    color: #666;
    line-height: 1;
}
/* /底部导航 */

/* 顶部 */
.header {
    position: fixed;
    top: 0;
    z-index: 10;
    height: 2rem;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #efefef;
}
/* logo，搜索，登录 */
.search_bar {
    padding: .21333rem .4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_bar>.logo {
    display: inline-block;
    width: 1.84rem;
    height: .53333rem;
    background-image: url('../images/logo.png');
    margin-right: .26667rem;
    background-size: cover;
}

.search_bar>.search_box {
    flex-grow: 1;
    background-color: #ededed;
    height: .74667rem;
    font-size: .37333rem;
    border-radius: .10667rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.search_bar>.search_box > i{
    background-image: url('../images/search.png');
    background-size: 100% 100%;
    display: inline-block;
    width: .37333rem;
    height: .37333rem;
    margin-right: .13333rem;
}

.search_bar>.search_box span {
    /* background-color: rgba(255, 255, 255, 0); */
    /* border: none; */
    font-size: .37333rem;
    color: #666;
}

.search_bar>.btn_login {
    width: .98667rem;
    height: .53333rem;
    line-height: .53333rem;
    text-align: center;
    color: #DD1A21;
    border: 1px solid #DD1A21;
    border-radius: .10667rem;
    margin-left: .21333rem;
    font-size: .32rem;
}
/* 导航栏 */
.nav_wrapper {
    position: relative;
    margin-top: -.01333rem;
}

.nav_wrapper>.nav {
    overflow: hidden;
    padding-right: 1.33333rem;
    height: 100%;
    width: 100%;
}

.nav_wrapper>.nav>ul {
    width: 1600px;
    padding: 0 .4rem;
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
}

.nav_wrapper>.nav>ul::after {
    content: "";
    display: block;
    clear: both;
}

.nav_wrapper>.nav>ul>li {
    /* float: left; */
    padding: 0 .21333rem;
    line-height: .8rem;
    font-size: .37333rem;
    margin-left: .26667rem;
    position: relative;
}

.nav_wrapper>.nav>ul>li:first-child{
    margin-left: 0;
}

.nav_wrapper>.nav>ul>li:first-child > a{
    color: #DD1A21;
}

.nav_wrapper>.nav>ul>li:first-child::after{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .05333rem;
    background-color: #DD1A21;
}

.nav_wrapper>.toggle{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
}

.nav_wrapper>.toggle > div:first-child{
    width: .8rem;
    height: .8rem;
    background-image: linear-gradient(to right,rgba(255,255,255,0),#fff);
    /* background-image: linear-gradient(45deg, #000,#fff); */
}

.nav_wrapper>.toggle > div:last-child{
    width: 1.33333rem;
    height: .8rem;
    text-align: center;
    background: #fff;
}

.nav_wrapper>.toggle > div:last-child > i{
    margin-top: .2rem;
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-image: url('../images/more.png');
    background-size: 100% 100%;
}
/* /顶部 */