 /* 1.重置样式 */
 body,ul,p {
    margin: 0;
    padding: 0;
    font: 12px/1.5 "Microsoft Yahei","微软雅黑",verdana;
}
body{
    display: inline;
}
ul {
    list-style: none;
}
/* 2.公共样式 */
.index{
    margin: 0 auto;
    background-color: #ffffff;
}
a{
    text-decoration: none;
    color: #ccc;
}
/* 3.结构样式 */
/* (1).顶栏 */
.row{
    height: 36px;
    background-color: #333;
}
.row > ul::after{
    content:"";
    display: block;
    clear: both;
}
.row > ul{
    width: 1090px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.row > ul > li{
    float: right;
    color: #ccc;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
    /* margin-right: 10px; */
    /* border-left: 1px solid #ccc; */
}
.row > ul > li:not(:last-child)::before{
    content: '';
    display: inline-block;
    height: 16px;
    border-left: 1px solid #5c5c5c;
    vertical-align: middle;
    margin-right: 10px;
}
/* (2).导航栏 */
.functab{
    height: 140px;
    background-color: #ffffff;
}
.functab > ul::after{
    content:"";
    display: block;
    clear: both;
}
.functab > ul{
    width: 1090px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* (2.1).图片，搜索框，购物车 */
.functab > ul:first-child > li{
    float: left;
    height: 86px;
}
.functab > ul:first-child > li:first-child{
    background-image: url('../images/icon.png');
    background-position: 0 -298px;
    width: 212px;
    height: 60px;
    margin-top: 24px;
}
.functab > ul:first-child > li:nth-child(2){
    height: 32px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #CC9756;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    width: 402px;
    padding-left: 38px;
    margin-top: 26px;
    margin-left: 163px;
}
.functab > ul:first-child > li:nth-child(3){
    width: 90px;
    height: 38px;
    background-color: #CC9756;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    color: #fff;
    line-height: 38px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 26px;
}
.functab > ul:first-child > li:last-child{
    float: right;
    width: 132px;
    height: 20px;
    border: 1px solid #CC9756;
    border-radius: 19px;
    padding: 8px 0;
    margin-top: 26px;
    margin-left: 43px;
    color: #CC9756;
    font-size: 14px;
}
/* (2.2).导航栏 */
.functab > ul:last-child > li{
    float: left;
    height: 54px;
    font-size: 14px;
    font-weight: 700;
    height: 24px;
    margin-top: 29px;
    padding: 0 26px;
}
.functab > ul:last-child > li > a{
    color: #000;
}
.functab > ul:last-child > li:first-child{
    padding-left: 0;
}
.functab > ul:last-child > li:last-child{
    padding-right: 0;
}
.functab > ul:last-child > li:first-child > a{
    color: #CC9756;
    border-bottom: 3px solid #CC9756;
    padding-bottom: 4px;
}
.functab > ul:last-child > li:hover > a{
    color: #CC9756;
    border-bottom: 3px solid #CC9756;
    padding-bottom: 4px;
}
/* (2.2.1).居家生活 */
.functab > ul:last-child > li:nth-child(2){
    width: 56px;
}
.functab > ul:last-child > li:nth-child(2):hover > .jujia{
    display: block;
}
.jujia{
    width: auto;
    height: auto;
    padding: 14px 20px 20px 20px;
    position: absolute;
    top: 176px;
    left: 50%;
    margin-left: -601px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    display: none;
}
.jujia > ul{
    float: left;
    width: 124px;
    max-width: 124px;
    margin-right: 24px;
    text-align: left;
}
.jujia > ul:last-child{
    margin-right: 0;
}
.jujia > ul > li:first-child{
    height: 36px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
    color: #333;
}
.jujia > ul > li{
    height: 50px;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 50px;
    color: #333;
}
.jujia > ul > li:last-child{      
    margin-bottom: 0;
}
/* (2.2.2).服饰鞋包 */
.functab > ul:last-child > li:nth-child(3){
    width: 56px;
}
.functab > ul:last-child > li:nth-child(3):hover > .fushi{
    display: block;
}
.fushi{
    width: auto;
    height: auto;
    padding: 14px 20px 20px 20px;
    position: absolute;
    top: 176px;
    left: 50%;
    margin-left: -601px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    display: none;
}
.fushi > ul{
    float: left;
    width: 124px;
    max-width: 124px;
    margin-right: 24px;
    text-align: left;
    height: 36px;
}
/* (2.2.3).美食酒水 */
.functab > ul:last-child > li:nth-child(4){
    width: 56px;
}
.functab > ul:last-child > li:nth-child(4):hover > .meishi{
    display: block;
}
.meishi{
    width: auto;
    height: auto;
    padding: 14px 20px 20px 20px;
    position: absolute;
    top: 176px;
    left: 50%;
    margin-left: -601px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    display: none;
}
.meishi > ul{
    float: left;
    width: 124px;
    max-width: 124px;
    margin-right: 24px;
    text-align: left;
    height: 36px;
}
/* (2.2.4).个护清洁 */
.functab > ul:last-child > li:nth-child(5){
    width: 56px;
}
.functab > ul:last-child > li:nth-child(5):hover > .gehu{
    display: block;
}
.gehu{
    width: auto;
    height: auto;
    padding: 14px 20px 20px 20px;
    position: absolute;
    top: 176px;
    left: 50%;
    margin-left: -601px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    display: none;
}
.gehu > ul{
    float: left;
    width: 124px;
    max-width: 124px;
    margin-right: 24px;
    text-align: left;
    height: 36px;
}
/* (2.2.5).母婴亲子 */
.functab > ul:last-child > li:nth-child(6){
    width: 56px;
}
.functab > ul:last-child > li:nth-child(6):hover > .muying{
    display: block;
}
.muying{
    width: auto;
    height: auto;
    padding: 14px 20px 20px 20px;
    position: absolute;
    top: 176px;
    left: 50%;
    margin-left: -601px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    display: none;
}
.muying > ul{
    float: left;
    width: 124px;
    max-width: 124px;
    margin-right: 24px;
    text-align: left;
    height: 36px;
}
/* (2.2.6).运动旅行 */
.functab > ul:last-child > li:nth-child(7){
    width: 56px;
}
.functab > ul:last-child > li:nth-child(7):hover > .yundong{
    display: block;
}
.yundong{
    width: auto;
    height: auto;
    padding: 14px 20px 20px 20px;
    position: absolute;
    top: 176px;
    left: 50%;
    margin-left: -601px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    display: none;
}
.yundong > ul{
    float: left;
    width: 124px;
    max-width: 124px;
    margin-right: 24px;
    text-align: left;
    height: 36px;
}
/* (2.2.7).数码家电 */
.functab > ul:last-child > li:nth-child(8){
    width: 56px;
}
.functab > ul:last-child > li:nth-child(8):hover > .shuma{
    display: block;
}
.shuma{
    width: auto;
    height: auto;
    padding: 14px 20px 20px 20px;
    position: absolute;
    top: 176px;
    left: 50%;
    margin-left: -601px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    display: none;
}
.shuma > ul{
    float: left;
    width: 124px;
    max-width: 124px;
    margin-right: 24px;
    text-align: left;
    height: 36px;
}
/* (2.2.8).严选全球 */
.functab > ul:last-child > li:nth-child(9){
    width: 56px;
}
.functab > ul:last-child > li:nth-child(9):hover > .quanqui{
    display: block;
}
.quanqui{
    width: auto;
    height: auto;
    padding: 14px 20px 20px 20px;
    position: absolute;
    top: 176px;
    left: 50%;
    margin-left: -601px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    display: none;
}
.quanqui > ul{
    float: left;
    width: 124px;
    max-width: 124px;
    margin-right: 24px;
    text-align: left;
    height: 36px;
}
/* (3).广告 */
.ad{
    background-color: #f4f4f4;
}
.ad::after{
    content:"";
    display: block;
    clear: both;
}
.ad > ul{
    width: 100%;
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid #ccc; */
}
.ad > ul > li{
    height: 420px;
    background-color: hotpink;
    background: url('../images/ad.jpg') no-repeat center center;
}
/* (4).促销 */
.promotion{
    background-color: #c2052c;
    padding-top: 20px;
    padding-bottom: 20px;
}
.promotion > ul::after{
    content:"";
    display: block;
    clear: both;
}
.promotion > ul{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1090px;
}
.promotion > ul > li{
    height: 190px;
    width: 265px;
    float: left;
    background-color: aqua;
    margin-right: 10px;
}
.promotion > ul > li:nth-child(1){
    background: url('../images/promotion-1.png');
}
.promotion > ul > li:nth-child(2){
    background: url('../images/promotion-2.png');
}
.promotion > ul > li:nth-child(3){
    background: url('../images/promotion-3.png');
}
.promotion > ul > li:last-child{
    background: url('../images/promotion-4.png');
    margin-right: 0;
}
/* (5).左侧固定热销榜 */
.left{
    width: 108px;
    border: 1px solid #E2DED6;
    position: fixed;
    top: 62px;
    left: 0;
    background: #fff;
    border-radius: 4px;
}
.left > ul > li:first-child{
    font-size: 16px;
    color: #BB3343;
    text-align: center;
    line-height: 38px;
    height: 38px;
    font-weight: 700;
    background: url('../images/hot.png') bottom no-repeat;
}
.left > ul > li:first-child::before,.left > ul > li:first-child::after{
    content: '';
    display: block;
    width: 8px;
    border-bottom: 2px solid #BB3343;
    position: absolute;
    top: 18px;
}
.left > ul > li:first-child::before{
    left: 15px;
}
.left > ul > li:first-child::after{
    left: 85px;
}
.left > ul > li:not(:first-child){
    width: 86px;
    height: 34px;
    margin: 1px 11px 0;
    text-align: center;
    line-height: 35px;
    border-bottom: 1px solid #E2DED6;
    font-size: 14px;
}
.left > ul > li:last-child{
    border-bottom: 0;
}
.left > ul > li:hover{
    color: #BB3343;
}
/* (6).右侧固定栏 */
.right{
    width: 72px;
    position: fixed;
    top: 62px;
    right: 0;
    background: #fff;
}
.right > ul > li:first-child{
    height: 150px;
    background: url('../images/right-ad.gif');
}
.right > ul > li:nth-child(2) > a{
    background-image: url('../images/right.png');
    background-position: 0 -363px;
    display: inline-block;
    height: 29px;
    width: 28px;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 17px;
    margin-bottom: 3px;
}
.right > ul > li:nth-child(2){
    height: 84px;
    text-align: center;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #E2DED6;
}
.right > ul > li:nth-child(2):hover{
    color: #CC9756;
}
.right > ul > li:nth-child(2):hover > a{
    background-position: 0 -324px;
}
.right > ul > li:nth-child(3){
    height: 139px;
    border-bottom: 1px solid #E2DED6;
    text-align: center;
}
.right > ul > li:nth-child(3) > a{
    background-image: url('../images/canvas.png');
    display: inline-block;
    height: 70px;
    width: 70px;
}
.right > ul > li:nth-child(3) > p:nth-child(2){
    margin-top: -2px;
    color: #666;
    line-height: 17px;
}
.right > ul > li:nth-child(3) > p:not(:nth-child(2)){
    color: #BC3B3B;
    line-height: 17px;
}
.right > ul > li:nth-child(4) > a{
    background-image: url('../images/right.png');
    background-position: 0 -527px;
    display: inline-block;
    height: 26px;
    width: 26px;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 14px;
    margin-bottom: 3px;
}
.right > ul > li:nth-child(4){
    height: 77px;
    text-align: center;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #E2DED6;
}
.right > ul > li:nth-child(4):hover{
    color: #CC9756;
}
.right > ul > li:nth-child(4):hover > a{
    background-position: 0 -491px;
}
.right > ul > li:nth-child(4):hover > .right_dinyue{
    display: block;
}
.right_dinyue{
    width: 370px;
    height: 220px;
    background-color: #ffffff;
    position: absolute;
    right: 80px;
    top: 305px;
    box-shadow: 0 2px 4px 0 #7f7f7f;
    display: none;
}
.right_dinyue > div:first-child{
    height: 70px;
    width: 370px;
    background-image: url('../images/right_dinyue.png');
    color: #ffffff;
    font-size: 26px;
    line-height: 70px;
}
.right > ul > li:nth-child(5) > a{
    background-image: url('../images/right.png');
    background-position: 0 -128px;
    display: inline-block;
    height: 31px;
    width: 32px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 14px;
    margin-bottom: 3px;
}
.right > ul > li:nth-child(5){
    height: 82px;
    text-align: center;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #E2DED6;
}
.right > ul > li:nth-child(5):hover{
    color: #CC9756;
}
.right > ul > li:nth-child(5):hover > a{
    background-position: 0 -87px;
}
.right > ul > li:nth-child(6) > a{
    background-image: url('../images/right.png');
    background-position: 0 -299px;
    display: inline-block;
    height: 15px;
    width: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 13px;
}
.right > ul > li:nth-child(6){
    height: 60px;
    text-align: center;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #E2DED6;
}
.right > ul > li:nth-child(6):hover > a{
    background-position: 0 -274px;
}
/* (7).新品 */
.new{
    background-color: #fff;
}
.new > ul::after{
    content:"";
    display: block;
    clear: both;
}
.new > ul{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1090px;
}
.new > ul > li{
    height: 364px;
    width: 265px;
    /* background-color: lightskyblue; */
    float: left;
    margin-right: 10px;
    margin-bottom: 98px;
}
.new > ul > li:nth-child(1){
    height: 28px;
    width: 1090px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.new > ul > li:nth-child(5){
    margin-right: 0;
}
.new > ul > li > p:first-child{
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    float: left;
}
.new > ul > li:nth-child(n+2) > div:first-child{
    height: 265px;
    width: 265px;
    margin-bottom: 8px;
    background-color: blue;
}
.new > ul > li:nth-child(2) > div:first-child{
    background-image: url('../images/new-1.jpg');
}
.new > ul > li:nth-child(3) > div:first-child{
    background-image: url('../images/new-2.png');
}
.new > ul > li:nth-child(4) > div:first-child{
    background-image: url('../images/new-3.jpg');
}
.new > ul > li:nth-child(5) > div:first-child{
    background-image: url('../images/new-4.png');
}
.new > ul > li:nth-child(n+2) > div:last-child{
    height: 91px;
    width: 166px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.new > ul > li:nth-child(n+2) > div:last-child > p:first-child{
    font-size: 13px;
    font-weight: 600;
}
.new > ul > li:nth-child(n+2) > div:last-child > p:last-child{
    color: red;
}
.new > ul > li:not(:first-child):hover{
    background-color: #f4f4f4;
}
/* (8).热门 */
.popular{
    background-color: #f4f0ea;
}
.popular::after{
    content:"";
    display: block;
    clear: both;
}
.popular > ul{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1090px;
}
.popular > ul > li{
    height: 280px;
    width: 223px;
    background-color: #fff; 
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.popular > ul >li:nth-child(1){
    height: 28px;
    width: 1090px;
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
}
.popular > ul >li:nth-child(2){
    height: 570px;
    width: 390px;
    margin-bottom: 60px;
}
.popular > ul >li:nth-child(5){
    margin-right: 0;
}
.popular > ul >li:nth-child(6){
    margin-bottom: 0;
}
.popular > ul >li:nth-child(7){
    margin-bottom: 0;
}
.popular > ul >li:nth-child(8){
    margin-right: 0;
    margin-bottom: 0;
}
.popular > ul > li > p:first-child{
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    float: left;
}
.popular > ul > li:nth-child(n+3) > div:first-child{
    height: 180px;
    width: 223px;
    border-bottom: 1px solid #E2DED6;
}
.popular > ul > li:nth-child(n+3) > div:last-child{
    height: 100px;
    width: 136px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.popular > ul > li:nth-child(2) > div:first-child{
    height: 400px;
    width: 390px;
    background: url('../images/popular-1.png') no-repeat center center;
    border-bottom: 1px solid #E2DED6;
}
.popular > ul > li:nth-child(2) > div:last-child{
    width: 248px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.popular > ul > li:nth-child(3) > div:first-child{
    background: url('../images/popular-2.png') no-repeat center center;
}
.popular > ul > li:nth-child(4) > div:first-child{
    background: url('../images/popular-3.png') no-repeat center center;
}
.popular > ul > li:nth-child(5) > div:first-child{
    background: url('../images/popular-4.png') no-repeat center center;
}
.popular > ul > li:nth-child(6) > div:first-child{
    background: url('../images/popular-5.png') no-repeat center center;
}
.popular > ul > li:nth-child(7) > div:first-child{
    background: url('../images/popular-6.png') no-repeat center center;
}
.popular > ul > li:nth-child(8) > div:first-child{
    background: url('../images/popular-7.png') no-repeat center center;
}
.popular > ul > li:nth-child(n+2) > div:first-child{
    transition: transform 1s;
}
.popular > ul > li:nth-child(n+2) > div:first-child:hover{
    transform-origin: center center;
    transform: scale(1.1);
}
.popular > ul > li:nth-child(2) > div:last-child > p:first-child{
    font-size: 18px;
    font-weight: 600;
}
.popular > ul > li:nth-child(n+3) > div:last-child > p:first-child{
    font-size: 13px;
    font-weight: 600;
}
.popular > ul > li:nth-child(2) > div:last-child > p:last-child{
    font-size: 16px;
}
.popular > ul > li:nth-child(n+2) > div:last-child > p:last-child{
    color: red;
}
/* (9).限时购 */
.time{
    background-color: #ffffff;
}
.time::after{
    content:"";
    display: block;
    clear: both;
}
.time > ul{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1090px;
}
.time > ul > li{
    height: 212px;
    width: 432px;
    float: left;
    border: 1px solid #f0ece4;
    border-left: none;
}
.time > ul >li:nth-child(1){
    height: 28px;
    width: 1090px;
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}
.time > ul > li:nth-child(1) > p{
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    float: left;
}
.time > ul > li:nth-child(2){
    width: 224px;
    height: 429px;
    background: url('../images/time-0.png') no-repeat center center;
    border: 0;
    margin-bottom: 60px;
}
.time > ul > li:nth-child(n+3) > div:first-child{
    width: 180px;
    height: 180px;
    margin-top: 3px;
    margin-bottom: auto;
    float: left;
}
.time > ul > li:nth-child(n+3) > div:first-child > img{
    transition: transform 1s;
}
.time > ul > li:nth-child(n+3) > div:first-child > img:hover{
    transform-origin: center center;
    transform: scale(1.1);
}
.time > ul > li:nth-child(n+3) > div:last-child{
    width: 252px;
    height: 100%;
    margin-left: 180px;
    text-align: left;
}
.time > ul > li:nth-child(n+3) > div:last-child > div:first-child{
    margin-top: 14px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
}
.time > ul > li:nth-child(n+3) > div:last-child > div:nth-child(2){
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.time > ul > li:nth-child(n+3) > div:last-child > div:nth-child(3){
    float: left;
    width: 152px;
    height: 8px;
    margin: 2px 0;
    border: 1px solid #f2cecd;
    border-radius: 5px;
    margin-top: 16px;
    margin-right: 10px;
}
.time > ul > li:nth-child(n+3) > div:last-child > div:nth-child(3) > div{
    background-color: #ffe5e5;
    height: 8px;
    width: 122px;
    border-radius: 5px;
}
.time > ul > li:nth-child(n+3) > div:last-child > div:nth-child(4){
    font-size: 14px;
    color: #999;
    line-height: 14px;
    margin-top: 13px;
    float: left;
}
.time > ul > li:nth-child(n+3) > div:last-child > div:nth-child(5){
    font-size: 14px;
    color: #be4141;
    float: left;
}
.time > ul > li:nth-child(n+3) > div:last-child > div:nth-child(5) > span{
    font-weight: 700;
    font-size: 24px;
}
.time > ul > li:nth-child(n+3) > div:last-child > div:nth-child(6){
    font-size: 14px;
    color: #999;
    margin-top: 9px;
    margin-left: 15px;
    margin-bottom: 6px;
    text-decoration: line-through;
    float: left;
}
.time > ul > li:nth-child(n+3) > div:last-child > div:nth-child(7){
    background-color: #be4141;
    color: #fff;
    width: 118px;
    height: 31px;
    margin-top: 16px;
    line-height: 31px;
    text-align: center;
    font-size: 16px;
    border-radius: 2px;
    float: left;
}
/* (10).福利社 */
.welfare{
    background-color: #f4f0ea;
}
.welfare::after{
    content:"";
    display: block;
    clear: both;
}
.welfare > ul{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1090px;
}
.welfare > ul > li{
    float: left;
}
.welfare > ul >li:nth-child(1){
    height: 28px;
    width: 1090px;
    margin-top: 54px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}
.welfare > ul > li:nth-child(1) > p{
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    float: left;
}
.welfare > ul > li:nth-child(2){
    width: 224px;
    height: 376px;
    background: url('../images/welfare-0.jpg');
    margin-bottom: 52px;
}
.welfare > ul > li:nth-child(3){
    width: 624px;
    height: 376px;
    background-color: #ffffff;
}
.welfare > ul > li:nth-child(3) > div:first-child{
    width: 588px;
    height: 55px;
    margin-left: 19px;
    margin-right: 17px;
    border-bottom: 1px solid #f0ece4;
}
.welfare > ul > li:nth-child(3) > div:first-child > p{
    width: 100%;
    height: 24px;
    padding-top: 19px;
    padding-bottom: 12px;
    font-size: 16px;
    text-align: left;
}
.welfare > ul > li:nth-child(3) > div:last-child{
    width: 608px;
    height: 280px;
    margin-top: 20px;
    margin-left: 19px;
}
.welfare > ul > li:nth-child(3) > div:last-child > ul > li{
    width: 284px;
    height: 130px;
    margin: 0 20px 20px 0;
    float: left;
}
.welfare > ul > li:nth-child(3) > div:last-child > ul > li > div:first-child{
    width: 130px;
    height: 130px;
    float: left;
    background-color: #FBF9F6;
}
.welfare > ul > li:nth-child(3) > div:last-child > ul > li > div:last-child{
    width: 130px;
    height: 100%;
    margin-left: 140px;
    margin-right: 10px;
    text-align: left;
}
.welfare > ul > li:nth-child(3) > div:last-child > ul > li > div:last-child > div:first-child{
    font-size: 14px;
    line-height: 20px;
}
.welfare > ul > li:nth-child(3) > div:last-child > ul > li > div:last-child > div:nth-child(2){
    font-size: 14px;
    color: #BE4141;
}
.welfare > ul > li:nth-child(3) > div:last-child > ul > li > div:last-child > div:nth-child(2) > span{
    font-size: 20px;
    font-weight: 700;
    color: #BE4141;
}
.welfare > ul > li:nth-child(3) > div:last-child > ul > li > div:last-child > div:nth-child(3){
    color: #A4A4A4;
    font-size: 14px;
    text-decoration: line-through;
}
.welfare > ul > li:nth-child(3) > div:last-child > ul > li > div:last-child > div:nth-child(4){
    width: 90px;
    line-height: 26px;
    text-align: center;
    background-color: #BE4141;
    border: 1px solid #D25A5A;
    border-radius: 2px;
    color: #fff;
    
}
.welfare > ul > li:nth-child(4){
    width: 241px;
    height: 376px;
    background-color: #ffffff;
    border-left: 1px solid #f0ece4;
}
.welfare > ul > li:nth-child(4) > div{
    width: 199px;
    height: 188px;
    margin-left: 22px;
    margin-right: 20px;
}
.welfare > ul > li:nth-child(4) > div > div:first-child{
    width: 199px;
    height: 24px;
    padding-top: 19px;
    padding-bottom: 12px;
}
.welfare > ul > li:nth-child(4) > div > div:first-child > p{
    font-size: 16px;
    text-align: left;
}
.welfare > ul > li:nth-child(4) > div > div:last-child{
    width: 199px;
    height: 120px;
}
.welfare > ul > li:nth-child(4) > div > div:last-child > ul > li:first-child{
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}
.welfare > ul > li:nth-child(4) > div > div:last-child > ul > li:last-child{
    width: 200px;
    height: 50px;
}
.welfare > ul > li:nth-child(4) > div > div:last-child > ul > li > div:first-child{
    width: 50px;
    height: 50px;
    float: left;
    background-color: #FBF9F6;
}
.welfare > ul > li:nth-child(4) > div > div:last-child > ul > li > div:last-child{
    width: 130px;
    height: 50px;
    margin-left: 70px;
    text-align: left;
}
.welfare > ul > li:nth-child(4) > div > div:last-child > ul > li > div:last-child > div:first-child{
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.welfare > ul > li:nth-child(4) > div > div:last-child > ul > li > div:last-child > div:last-child{
    font-size: 14px;
    color: #BE4141;
}
/*  */

/* 底部 */
.foot{
    height: 549px;
    width: 100%;
}
.foot > div:first-child{
    height: 204px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 34px;
    margin-left: auto;
    margin-right: auto;
}
.foot > div:first-child > div:first-child{
    width: 363px;
    height: 204px;
    text-align: center;
    float: left;
    margin-left: 130px;
}
.foot > div:first-child > div > div:first-child{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
    line-height: 1;
    width: 100%;
}
.foot > div:first-child > div:first-child > div:last-child{
    display: flex;
    justify-content: space-around;
}
.foot > div:first-child > div:first-child > div:last-child > div{
    width: 78px;
    height: 73px;
    font-size: 14px;
    background-color: #fff;
    padding-top: 25px;
    border: 1px solid #E8E8E8;
    border-radius: 2px;
}
.foot > div:first-child > div:first-child > div:last-child > div:first-child > div:first-child{
    background-image: url('../images/foot.png');
    background-position: 0 -290px;
    height: 26px;
    width: 31px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.foot > div:first-child > div:first-child > div:last-child > div:last-child > div:first-child{
    background-image: url('../images/foot.png');
    background-position: 0 -97px;
    height: 27px;
    width: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.foot > div:first-child > div:first-child > div:last-child > div > div:last-child{
    margin-top: 10px;
}
.foot > div:first-child > div:nth-child(2){
    width: 362px;
    height: 204px;
    border-left: 1px solid #e9e9e9;
    text-align: center;
    float: left;
}
.foot > div:first-child > div:nth-child(2) > div:nth-child(2){
    text-align: left;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 22px;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
}
.foot > div:first-child > div:nth-child(2) > div:nth-child(3) > div:first-child{
    margin-right: 15px;
    margin-left: 37px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 32px;
    float: left;
}
.foot > div:first-child > div:nth-child(2) > div:nth-child(3) > div:nth-child(2){
    background-image: url('../images/foot.png');
    background-position: 0 -470px;
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 15px;
}
.foot > div:first-child > div:nth-child(2) > div:nth-child(3) > div:nth-child(3){
    background-image: url('../images/foot.png');
    background-position: 0 -428px;
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 15px;
}
.foot > div:first-child > div:nth-child(2) > div:nth-child(3) > div:nth-child(4){
    background-image: url('../images/foot.png');
    background-position: 0 -326px;
    height: 32px;
    width: 32px;
    float: left;
}
.foot > div:first-child > div:nth-child(3){
    width: 362px;
    height: 204px;
    border-left: 1px solid #e9e9e9;
    text-align: center;
    float: left;
}
.foot > div:first-child > div:nth-child(3) > div:nth-child(2){
    height: 104px;
    width: 104px;
    background-image: url('../images/foot-down.png');
    margin-left: auto;
    margin-right: auto;
}

.foot > div:last-child{
    height: 213px;
    width: 100%;
    padding-top: 37px;
    background-color: #414141;
}
.foot > div:last-child > div:first-child{
    width: 1090px;
    height: 51px;
    padding-bottom: 30px;
    border-bottom: 1px solid #4f4f4f;
    margin-left: auto;
    margin-right: auto;
}
.foot > div:last-child > div:first-child > ul > li{
    height: 51px;
    float: left;
    margin-right: 122px;
}
.foot > div:last-child > div:first-child > ul > li:first-child{
    margin-left: 17px;
}
.foot > div:last-child > div:first-child > ul > li:nth-child(4){
    margin-right: 0;
}
.foot > div:last-child > div:first-child > ul > li > div:first-child{
    height: 50px;
    width: 50px;
    background-image: url('../images/foot.png');
    margin-right: 17px;
    float: left;
}
.foot > div:last-child > div:first-child > ul > li:first-child > div:first-child{
    background-position: 0 -134px;
}
.foot > div:last-child > div:first-child > ul > li:nth-child(2) > div:first-child{
    background-position: 0 -368px;
}
.foot > div:last-child > div:first-child > ul > li:nth-child(3) > div:first-child{
    background-position: 0 0;
}
.foot > div:last-child > div:first-child > ul > li:nth-child(4) > div:first-child{
    background-position: 0 -194px;
}
.foot > div:last-child > div:first-child > ul > li > div:nth-child(2){
    color: #fff;
    font-size: 18px;
    line-height: 51px;
    float: left;
}
.foot > div:last-child > div:last-child{
    width: 1090px;
    height: 78px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
}
.foot > div:last-child > div:last-child > div{
    height: 18px;
    color: #999;
    text-align: center;
    margin-bottom: 11px;
}